#include "/home/liuning/Xresources-themes/iterm-Dracula.Xresources"
xterm*faceName: Source Code Pro
xterm*faceSize: 22

! Chinese fonts
xterm*faceNameDoublesize:Source Han Serif SC:pixelsize=34:antialias=true
XTerm*utf8: 1
xterm*VT100.Translations: #override \
                 Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
                 Ctrl Shift <Key>C:    copy-selection(CLIPBOARD)

! Xresources file

URxvt*inheritPixmap: true
URxvt*transparent: true
! URxvt*shading: 0 to 99 darkens, 101 to 200 lightens
URxvt*shading: 10
